<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;background-color: tomato;padding: 50px;" >Directorio Dependencias Alcaldía de Pasto<span style="font-size: small;">Progracion avanzada II</span> </h1>
    <div class="container">
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-6">
                <h1>Tabla dependencias</h1>
            </div>
            <div class="col-6">
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Tamaño de tabla</label>
                    <select id="inputState" class="form-select" [(ngModel)]="selected" (ngModelChange)="consumo(selected)">
                        <option *ngFor="let opcion of opciones" selected=(consumo())>{{opcion}}</option>
    
                    </select>
                </div>
              
            </div>
        </div>

        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Dependencia</th>
                <th scope="col">Área</th>
                <th scope="col">#Telefónico</th>
                <th scope="col">Extensión</th>
                <th scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody *ngFor="let dependencia of arregloDependencia;let i = index"  >
              <tr 
              [ngClass]="tableEstilos"
                >
                <td>{{dependencia.dependencia}}</td>
                <td>{{dependencia.rea}}</td>
                <td>{{dependencia.telef_nico}}</td>
                <td>{{dependencia.extensi_n}}</td>
                <td>{{dependencia.direcci_n}}</td>
                
              </tr>
    
            </tbody>
          </table>

    </div>
</body>
</html>